@(id: String)(flash: play.api.mvc.Flash)(implicit session: play.api.mvc.Session)

@main("Movie Pod") {

    <p id="id" hidden>@id</p>

    <script type="text/javascript">
        $(function() {
            $("#search").val('batman');
            var text = $("#search").val();
            console.log("enter");
            if (text.length > 0) {
                fetch('https://www.omdbapi.com/?s=' + text.trim() + '&page=1');
            }
        });
    </script>

    <div class="row">
        <div class="input-field col m6 offset-m3 s12">
            <i class="material-icons prefix">search</i>
            <input id="search" placeholder="Search" type="text" class="validate">
        </div>
    </div>

    <div class="section">
        <div class="chip deep-purple darken-1 white-text">Movies</div>
    </div>

    <div class="deep-purple darken-1 divider"></div>

    <br/>

    <div class="row">
        <div id="movies">

        </div>
    </div>
}

