@(message: String)(flash: play.api.mvc.Flash)(implicit session: play.api.mvc.Session)

@main("Movie Pod") {

    <script type="text/javascript">
    </script>

    <div class="section">
        <div class="chip deep-purple darken-1 white-text">Recent Posts</div>
    </div>

    <div class="deep-purple darken-1 divider"></div>

    <br/>

    <div class="row">
        <div id="x_posts">

        </div>
    </div>
    <div class="section">
        <div class="chip deep-purple darken-1 white-text">All Posts</div>
    </div>

    <div class="deep-purple darken-1 divider"></div>

    <div id="xs_posts">
    </div>
}

