@(message: String)(flash: play.api.mvc.Flash)(implicit session: play.api.mvc.Session)

@main("Movie Pod") {

    <script type="text/javascript" xmlns="http://www.w3.org/1999/html">
        $(function() {
            var text = $("#search").val();
            if (text.length > 0) {
                fetch('http://www.omdbapi.com/?s=' + text.trim() + '&page=1');
            } else {
                fetch("http://www.omdbapi.com/?s=Batman&page=1");
            }
        });
    </script>

    <div class="row">
        <form>
            <div class="input-field col m6 offset-m3 s12">
                <i class="material-icons prefix">search</i>
                <input id="search" placeholder="Search" type="text" class="validate">
            </div>
        </form>
    </div>

    <div class="section">
        <div class="chip deep-purple darken-1 white-text">Recent Movies</div>
    </div>

    <div class="deep-purple darken-1 divider"></div>

    <br/>

    <div class="row">
        <div id="movies">

        </div>
    </div>
}

